<a href="https://colab.research.google.com/github/Mgobeaalcoba/Full_Pandas/blob/main/multi_index.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
from google.colab import drive
drive.mount("/content/drive")

Mounted at /content/drive

In [2]:
dir_pandas = '/content/drive/My Drive/Colab Notebooks/db/{}'
dir_pandas

'/content/drive/My Drive/Colab Notebooks/db/{}'

In [3]:
df = pd.read_csv(dir_pandas.format("poblacion.csv")).copy(deep=True)
df

                       Country  year           pop
0                  Afghanistan  2015  3.441360e+07
1                      Albania  2015  2.880703e+06
2                      Algeria  2015  3.972802e+07
3               American Samoa  2015  5.581200e+04
4                      Andorra  2015  7.801100e+04
...                        ...   ...           ...
1035  Pre-demographic dividend  2018  9.194854e+08
1036              Small states  2018  4.057532e+07
1037                South Asia  2018  1.814389e+09
1038   South Asia (IDA & IBRD)  2018  1.814389e+09
1039        Sub-Saharan Africa  2018  1.078307e+09

[1040 rows x 3 columns]

In [4]:
pd.options.display.float_format="{:,.1f}".format #Cambio el format de notación cientifica al decimal americano
df

                       Country  year             pop
0                  Afghanistan  2015    34,413,603.0
1                      Albania  2015     2,880,703.0
2                      Algeria  2015    39,728,025.0
3               American Samoa  2015        55,812.0
4                      Andorra  2015        78,011.0
...                        ...   ...             ...
1035  Pre-demographic dividend  2018   919,485,393.0
1036              Small states  2018    40,575,321.0
1037                South Asia  2018 1,814,388,744.0
1038   South Asia (IDA & IBRD)  2018 1,814,388,744.0
1039        Sub-Saharan Africa  2018 1,078,306,520.0

[1040 rows x 3 columns]

In [5]:
# Voy a convertir a categorica la variable year para usar multiples indices
df["year"] = pd.Categorical(df["year"])

In [6]:
df.dtypes

Country      object
year       category
pop         float64
dtype: object

In [7]:
df.sample(5)

            Country  year         pop
263  American Samoa  2016    55,741.0
689      Seychelles  2017    95,843.0
943           Samoa  2018   196,130.0
673        Paraguay  2017 6,867,062.0
410           Palau  2016    17,725.0

In [8]:
# Creo un filtro para reducir mi dataframe
idx_filtro = df["Country"].isin(["Argentina","Colombia"])
idx_filtro

0       False
1       False
2       False
3       False
4       False
        ...
1035    False
1036    False
1037    False
1038    False
1039    False
Name: Country, Length: 1040, dtype: bool

In [9]:
df_sample = df[idx_filtro]
df_sample

       Country  year          pop
7    Argentina  2015 43,131,966.0
42    Colombia  2015 47,520,667.0
267  Argentina  2016 43,590,368.0
302   Colombia  2016 48,171,392.0
527  Argentina  2017 44,044,811.0
562   Colombia  2017 48,901,066.0
787  Argentina  2018 44,494,502.0
822   Colombia  2018 49,648,685.0

In [10]:
df_sample.set_index(["year","Country"]) # Convierto Country & Year en indices

                        pop
year Country
2015 Argentina 43,131,966.0
     Colombia  47,520,667.0
2016 Argentina 43,590,368.0
     Colombia  48,171,392.0
2017 Argentina 44,044,811.0
     Colombia  48,901,066.0
2018 Argentina 44,494,502.0
     Colombia  49,648,685.0

In [11]:
df_sample.set_index(["Country","year"]) # Convierto Country & Year en indices

                        pop
Country   year
Argentina 2015 43,131,966.0
Colombia  2015 47,520,667.0
Argentina 2016 43,590,368.0
Colombia  2016 48,171,392.0
Argentina 2017 44,044,811.0
Colombia  2017 48,901,066.0
Argentina 2018 44,494,502.0
Colombia  2018 49,648,685.0

In [12]:
df_sample.set_index(["year","Country"]).sort_index() #Agrupo los indices para mejor visualización

                        pop
year Country
2015 Argentina 43,131,966.0
     Colombia  47,520,667.0
2016 Argentina 43,590,368.0
     Colombia  48,171,392.0
2017 Argentina 44,044,811.0
     Colombia  48,901,066.0
2018 Argentina 44,494,502.0
     Colombia  49,648,685.0

In [40]:
df_sample = df_sample.set_index(["Country","year"]).sort_index() # Guardo mi dataframe como un dataframe con multiples indices
df_sample

                        pop
Country   year
Argentina 2015 43,131,966.0
          2016 43,590,368.0
          2017 44,044,811.0
          2018 44,494,502.0
Colombia  2015 47,520,667.0
          2016 48,171,392.0
          2017 48,901,066.0
          2018 49,648,685.0

In [41]:
# Puedo seleccionar por ejemplo todos los datos de colombia con el metodo .loc
df_sample.loc["Colombia",:]

              pop
year
2015 47,520,667.0
2016 48,171,392.0
2017 48,901,066.0
2018 49,648,685.0

In [43]:
df_sample.loc["Colombia",:].loc[2016,:]

pop   48,171,392.0
Name: 2016, dtype: float64

In [49]:
df_sample.xs(["Argentina",2018])

pop   44,494,502.0
Name: (Argentina, 2018), dtype: float64

In [50]:
df_sample.xs(["Argentina"])

              pop
year
2015 43,131,966.0
2016 43,590,368.0
2017 44,044,811.0
2018 44,494,502.0

In [55]:
df_sample.xs(2018,level="year")

                   pop
Country
Argentina 44,494,502.0
Colombia  49,648,685.0

In [70]:
df_countries = df.set_index(["Country","year"]).sort_index(ascending = [True,True]) # Con ascending dentro del sort_index puedo escoger como ordenar mis datos. 
df_countries

                          pop
Country     year
Afghanistan 2015 34,413,603.0
            2016 35,383,128.0
            2017 36,296,400.0
            2018 37,172,386.0
Albania     2015  2,880,703.0
...                       ...
Zambia      2018 17,351,822.0
Zimbabwe    2015 13,814,629.0
            2016 14,030,390.0
            2017 14,236,745.0
            2018 14,439,018.0

[1040 rows x 1 columns]

In [71]:
ids = pd.IndexSlice
#df_countries.loc[ids["Aruba":"Austria","2017":"2015"],:].sort_index()

In [79]:
df_countries.loc[ids["Aruba":"Austria",2015:2017],:].sort_index() # Selecciono solo una slice o rebanada de mi dataframe. Previo a eso debo ordenarlo

                        pop
Country   year
Aruba     2015    104,341.0
          2016    104,872.0
          2017    105,366.0
Australia 2015 23,815,995.0
          2016 24,190,907.0
          2017 24,601,860.0
Austria   2015  8,642,699.0
          2016  8,736,668.0
          2017  8,797,566.0

In [84]:
df_countries.index

MultiIndex([('Afghanistan', 2015),
            ('Afghanistan', 2016),
            ('Afghanistan', 2017),
            ('Afghanistan', 2018),
            (    'Albania', 2015),
            (    'Albania', 2016),
            (    'Albania', 2017),
            (    'Albania', 2018),
            (    'Algeria', 2015),
            (    'Algeria', 2016),
            ...
            ('Yemen, Rep.', 2017),
            ('Yemen, Rep.', 2018),
            (     'Zambia', 2015),
            (     'Zambia', 2016),
            (     'Zambia', 2017),
            (     'Zambia', 2018),
            (   'Zimbabwe', 2015),
            (   'Zimbabwe', 2016),
            (   'Zimbabwe', 2017),
            (   'Zimbabwe', 2018)],
           names=['Country', 'year'], length=1040)

In [82]:
df_countries.index.get_level_values(0)

Index(['Afghanistan', 'Afghanistan', 'Afghanistan', 'Afghanistan', 'Albania',
       'Albania', 'Albania', 'Albania', 'Algeria', 'Algeria',
       ...
       'Yemen, Rep.', 'Yemen, Rep.', 'Zambia', 'Zambia', 'Zambia', 'Zambia',
       'Zimbabwe', 'Zimbabwe', 'Zimbabwe', 'Zimbabwe'],
      dtype='object', name='Country', length=1040)

In [83]:
df_countries.index.get_level_values(1)

CategoricalIndex([2015, 2016, 2017, 2018, 2015, 2016, 2017, 2018, 2015, 2016,
                  ...
                  2017, 2018, 2015, 2016, 2017, 2018, 2015, 2016, 2017, 2018],
                 categories=[2015, 2016, 2017, 2018], ordered=False, name='year', dtype='category', length=1040)

In [85]:
df_countries["pop"]

Country      year
Afghanistan  2015   34,413,603.0
             2016   35,383,128.0
             2017   36,296,400.0
             2018   37,172,386.0
Albania      2015    2,880,703.0
                        ...
Zambia       2018   17,351,822.0
Zimbabwe     2015   13,814,629.0
             2016   14,030,390.0
             2017   14,236,745.0
             2018   14,439,018.0
Name: pop, Length: 1040, dtype: float64

In [86]:
df_countries["pop"]["Argentina"]

year
2015   43,131,966.0
2016   43,590,368.0
2017   44,044,811.0
2018   44,494,502.0
Name: pop, dtype: float64

In [96]:
df_countries["pop"]["Colombia"]

year
2015   47,520,667.0
2016   48,171,392.0
2017   48,901,066.0
2018   49,648,685.0
Name: pop, dtype: float64

In [ ]:
df_countries["pop"]["Colombia"]["2016"] #Cadena de instrucciones para extraer un dato especifico

**Tener multiples indices me sirve para poder realizar operaciones matematicas sobre el nivel de indices deseado. Por ejemplo. Sobre el nivel de año quiero que me indique la población mundial**

In [102]:
df_countries.sum(level="year")

                  pop
year
2015 65,679,147,019.0
2016 66,487,930,677.0
2017 67,294,176,701.0
2018 68,087,886,692.0

**puedo convertir indices en columnas con el metodo .unnstack**

In [103]:
df_sample

                        pop
Country   year
Argentina 2015 43,131,966.0
          2016 43,590,368.0
          2017 44,044,811.0
          2018 44,494,502.0
Colombia  2015 47,520,667.0
          2016 48,171,392.0
          2017 48,901,066.0
          2018 49,648,685.0

In [104]:
df_sample.unstack("year")

                   pop
year              2015         2016         2017         2018
Country
Argentina 43,131,966.0 43,590,368.0 44,044,811.0 44,494,502.0
Colombia  47,520,667.0 48,171,392.0 48,901,066.0 49,648,685.0

In [105]:
df_sample.unstack("Country")

                 pop
Country    Argentina     Colombia
year
2015    43,131,966.0 47,520,667.0
2016    43,590,368.0 48,171,392.0
2017    44,044,811.0 48,901,066.0
2018    44,494,502.0 49,648,685.0