<a href="https://colab.research.google.com/github/Mgobeaalcoba/Full_Pandas/blob/main/save_and_load.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install --upgrade pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.1.5)
Collecting pandas
  Downloading pandas-1.3.4-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (11.3 MB)
     |████████████████████████████████| 11.3 MB 21.3 MB/s
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Installing collected packages: pandas
  Attempting uninstall: pandas
    Found existing installation: pandas 1.1.5
    Uninstalling pandas-1.1.5:
      Successfully uninstalled pandas-1.1.5
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-colab 1.0.0 requires pandas~=1.1.0; python_version >= "3.0", but you have pandas 1.3.4 which is incompatible.
Successfully installed pandas-1.3.4

In [ ]:
from google.colab import drive # Codigo para poder acceder al contenido de nuestro google drive
drive.mount("/content/drive")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
# Ahora vamos a posicionarnos dentro de la carpeta de Colab Notebooks
%cd '/content/drive/My Drive/Colab Notebooks' 
# %cd es similar a cd en terminal
!ls # !ls es similar a ls en terminal

/content/drive/My Drive/Colab Notebooks
'Curso de Alg Lineal'  'Curso Pandas'   db

**Como acabamos de ver: ¡¡¡ Se puede usar la terminal desde Google Colab. Para movernos de carpetas, para crear carpetas, para listar lo que tenemos en cada carpeta. etc.**

**¿Como trabajar con impresiones de variables de texto?**

In [ ]:
texto = "blablablablabla"

In [ ]:
"Hola {}".format(texto)

'Hola blablablablabla'

**Creo una carpeta en mi google drive:**

In [ ]:
!mkdir /content/drive/My\ Drive/Colab\ Notebooks/db # Creo mi carpeta para databases. A los espacios se les agrega antes un back slash

mkdir: cannot create directory ‘/content/drive/My Drive/Colab Notebooks/db’: File exists
 Colab	'Curso de Alg Lineal'  'Curso Pandas'   db

In [ ]:
!ls

'Curso de Alg Lineal'  'Curso Pandas'   db

**Voy a crear entones una variable donde voy a guardar la dirección para importar mis archivos con pandas y otra variable donde voy guardar el nombre de mi archivo en pandas**

In [ ]:
nombre_pandas = "test.csv"

In [ ]:
dir_pandas = '/content/drive/My Drive/Colab Notebooks/db/{}'.format(nombre_pandas)

In [ ]:
dir_pandas

'/content/drive/My Drive/Colab Notebooks/db/test.csv'

**Acá terminamos de armar todo el ambiente de trabajo. **

In [ ]:
import numpy as np
import pandas as pd
print(np.__version__)
print(pd.__version__)

1.21.4
1.3.4

In [ ]:
!pip install --upgrade numpy # Actualizo numpy a su versión mas reciente

Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (1.19.5)
Collecting numpy
  Downloading numpy-1.21.4-cp37-cp37m-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (15.7 MB)
     |████████████████████████████████| 15.7 MB 38.9 MB/s
Installing collected packages: numpy
  Attempting uninstall: numpy
    Found existing installation: numpy 1.19.5
    Uninstalling numpy-1.19.5:
      Successfully uninstalled numpy-1.19.5
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
yellowbrick 1.3.post1 requires numpy<1.20,>=1.16.0, but you have numpy 1.21.4 which is incompatible.
google-colab 1.0.0 requires pandas~=1.1.0; python_version >= "3.0", but you have pandas 1.3.4 which is incompatible.
datascience 0.10.6 requires folium==0.2.1, but you have folium 0.8.3 which is incompatible.
albumentations 0.1.12 requires imgaug<0.2.7,>=0.2.5, but you have imgaug 0.2.9 which is incompatible.
Successfully installed numpy-1.21.4

In [ ]:
dict_data = {
    "edad" : [10,9,13,14,12,11,12],
    "cm" : [115,110,130,155,125,120,125],
    "pais" : ["co","mx","co","mx","mx","ch","ch"],
    "genero" : ["M","F","F","M","M","M","F"],
    "01" : [5,10,8,np.nan,7,8,3],
    "02" : [7,9,9,8,8,8,9]
}
dict_data

{'01': [5, 10, 8, nan, 7, 8, 3],
 '02': [7, 9, 9, 8, 8, 8, 9],
 'cm': [115, 110, 130, 155, 125, 120, 125],
 'edad': [10, 9, 13, 14, 12, 11, 12],
 'genero': ['M', 'F', 'F', 'M', 'M', 'M', 'F'],
 'pais': ['co', 'mx', 'co', 'mx', 'mx', 'ch', 'ch']}

In [ ]:
df = pd.DataFrame(dict_data)
df

   edad   cm pais genero    01  02
0    10  115   co      M   5.0   7
1     9  110   mx      F  10.0   9
2    13  130   co      F   8.0   9
3    14  155   mx      M   NaN   8
4    12  125   mx      M   7.0   8
5    11  120   ch      M   8.0   8
6    12  125   ch      F   3.0   9

**Ahora vamos a exportar nuestro dataframe armado desde un diccionario a un archivo CSV que vamos a guardar en nuestra carpeta de dataframes creada**

In [ ]:
df.to_csv(dir_pandas,index=False) # Con index=False se guarda sin el indice

In [ ]:
!ls /content/drive/My\ Drive/Colab\ Notebooks/db # Valido que se creo mi archivo por terminal

test.csv

**Ya vimos como exportar un dataframe de pandas a un archivo (en este caso CSV). Ahora veamos como podemos leer un archivo**

In [ ]:
pd.read_csv(dir_pandas)

   edad   cm pais genero    01  02
0    10  115   co      M   5.0   7
1     9  110   mx      F  10.0   9
2    13  130   co      F   8.0   9
3    14  155   mx      M   NaN   8
4    12  125   mx      M   7.0   8
5    11  120   ch      M   8.0   8
6    12  125   ch      F   3.0   9

**O lo que es igual:**

In [ ]:
dir_pandas

'/content/drive/My Drive/Colab Notebooks/db/test.csv'

In [ ]:
pd.read_csv("/content/drive/My Drive/Colab Notebooks/db/test.csv")

   edad   cm pais genero    01  02
0    10  115   co      M   5.0   7
1     9  110   mx      F  10.0   9
2    13  130   co      F   8.0   9
3    14  155   mx      M   NaN   8
4    12  125   mx      M   7.0   8
5    11  120   ch      M   8.0   8
6    12  125   ch      F   3.0   9

In [ ]:
df_read = pd.read_csv("/content/drive/My Drive/Colab Notebooks/db/test.csv") # Guardo mi lectura en una variable.

In [ ]:
df_read

   edad   cm pais genero    01  02
0    10  115   co      M   5.0   7
1     9  110   mx      F  10.0   9
2    13  130   co      F   8.0   9
3    14  155   mx      M   NaN   8
4    12  125   mx      M   7.0   8
5    11  120   ch      M   8.0   8
6    12  125   ch      F   3.0   9

In [ ]:

df.to_csv("/content/drive/My Drive/Colab Notebooks/db/test2.csv",sep="|",index=False) #El separador por defecto en un CSV es una coma, pero puedo setearlo con el parametro sep=

In [ ]:
!ls /content/drive/My\ Drive/Colab\ Notebooks/db

test2.csv  test.csv

In [ ]:
pd.read_csv("/content/drive/My Drive/Colab Notebooks/db/test2.csv")

  edad|cm|pais|genero|01|02
0         10|115|co|M|5.0|7
1         9|110|mx|F|10.0|9
2         13|130|co|F|8.0|9
3            14|155|mx|M||8
4         12|125|mx|M|7.0|8
5         11|120|ch|M|8.0|8
6         12|125|ch|F|3.0|9

In [ ]:
pd.read_csv("/content/drive/My Drive/Colab Notebooks/db/test2.csv",sep="|") # Los leo avisando que el separador es distinto

   edad   cm pais genero    01  02
0    10  115   co      M   5.0   7
1     9  110   mx      F  10.0   9
2    13  130   co      F   8.0   9
3    14  155   mx      M   NaN   8
4    12  125   mx      M   7.0   8
5    11  120   ch      M   8.0   8
6    12  125   ch      F   3.0   9